<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width" />

  <title>Huebee{{#unless page.isHomepage}} &middot; {{page.title}}{{/unless}}</title>

  {{#if isDev}}
    {{#each cssPaths}}
      <link rel="stylesheet" href="../{{this}}" />
    {{/each}}
  {{else}}
    <link rel="stylesheet" href="css/huebee-docs.css?{{cacheVersions.css}}" />
  {{/if}}

  {{> palette-styles}}

  {{! Twitter card }}
  <meta name="twitter:card" content="summary" />
  <meta name="twitter:site" content="@metafizzyco" />
  <meta name="twitter:title" content="Huebee{{#unless page.isHomepage}} &middot; {{page.title}}{{/unless}}" />
  {{! Facebook OpenGraph }}
  <meta property="og:url" content="http://huebee.buzz{{#unless page.isHomepage}}/{{@file.basename}}.html{{/unless}}" />
  <meta property="og:type" content="article" />
  <meta property="og:title" content="Huebee{{#unless page.isHomepage}} &middot; {{page.title}}{{/unless}}" />
  <meta property="og:site_name" content="Metafizzy" />
  {{! description }}
  <meta name="description" content="{{page.description}}" />
  <meta name="twitter:description" content="{{page.description}}" />
  <meta property="og:description" content="{{page.description}}" />
  {{! image }}
  <meta name="twitter:image" content="/img/huebee-brand.png" />
  <meta property="og:image" content="/img/huebee-brand.png" />

</head>
<body class="page--{{@file.basename}} color4-text color5-bg">

{{#if page.isHomepage}}
  {{> hero}}
{{else}}
  {{> site-header}}
{{/if}}

<div class="main">
  <div class="container">

    {{> site-nav}}

{{#block "main"}}{{/block}}
  </div>
</div>

{{> site-footer huebee=true}}

{{#if isDev}}
  {{#each jsPaths}}
    <script src="../{{this}}"></script>
  {{/each}}
{{else}}
  <script src="js/huebee-docs.min.js?{{cacheVersions.js}}"></script>
{{/if}}

</body>
</html>
