<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width" />

  <title>Huebee{{#unless page.isHomepage}} &middot; {{page.title}}{{/unless}}</title>

  {{#each cssPaths}}
    <link rel="stylesheet" href="../{{this}}" />
  {{/each}}

  {{> palette-styles}}

</head>
<body class="page--{{@file.basename}} color4-text color5-bg">

{{#if page.isHomepage}}
  {{> hero}}
{{else}}
  {{> site-header}}
{{/if}}

<div class="main">
  <div class="container">

    {{> site-nav}}

{{#block "main"}}{{/block}}
  </div>
</div>

{{> site-footer huebee=true}}

{{#each jsPaths}}
  <script src="../{{this}}"></script>
{{/each}}

</body>
</html>
